<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>
Pandas</p><br>

*pandas* est une librairie python pour la transformation et l'analyse de données. elle offre un nombre d'opération pour l'exploration, le nettyage et la transformation de données qui sont essentielles pour un scientifique de données. 


**d'autres ressources:**
* *pandas* Documentation: http://pandas.pydata.org/pandas-docs/stable/
* *Python for Data Analysis* by Wes McKinney
* *Python Data Science Handbook* by Jake VanderPlas

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold"><br>

Importer les Libraries
</p>

In [2]:
import pandas as pd

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Introduction aux Structures de données avec pandas </p>
<br>
*pandas* dispose de deux types de structures de données ,appelées  *Series* et *DataFrames*. 

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
les Series</p>

*pandas Series* est un tableaux unidimensionel.

In [3]:
#L'ordre des vecteurs ici est important par example quand on a commencé avec le vecteur [100, 'foo', 300, 'bar', 500]
#c'est devenu un vecteur de valeurs alors que ['tom', 'bob', 'nancy', 'dan', 'eric'] est devenu un vecteur d'indices (index)
#ser = pd.Series([100, 'foo', 300, 'bar', 500], ['tom', 'bob', 'nancy', 'dan', 'eric'])

In [10]:
ser = pd.Series([100, 'foo', 300, 'bar', 500], ['tom', 'bob', 'nancy', 'dan', 'eric'])

In [11]:
ser

tom      100
bob      foo
nancy    300
dan      bar
eric     500
dtype: object

In [12]:
ser.index

Index(['tom', 'bob', 'nancy', 'dan', 'eric'], dtype='object')

In [13]:
ser.loc[['dan','eric']]

dan     bar
eric    500
dtype: object

In [ ]:
ser.loc[['nancy','bob']]

In [ ]:
ser[[4, 3, 1]]

In [ ]:
ser.iloc[[4, 3, 1]]

In [ ]:
ser.iloc[2]

In [ ]:
'bob' in ser

In [ ]:
ser

In [ ]:
#Here only the values are multiplied by 2 and not the indexes as well
ser * 2

In [ ]:
ser[['nancy', 'eric']] ** 2

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
DataFrame</p>

*pandas DataFrame* est une structure bidimensionelle.

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Créer une DataFrame à partir d'un dictionnaire de séries </p>

In [ ]:
a = {"first" : pd.Series([1., 2., 3.], index = ['uscore1', 'uscore2', 'uscore3']),
   "second" : pd.Series(['A1', 'B1', 'C1'], index = ['Basic', 'Intermediate', 'High level'])}
dfa = pd .DataFrame(a)
dfa

In [ ]:
# L'affichage selon un ordre alphabetique, les valeurs manquantes sont remplacées par des NaN
d = {'one' : pd.Series([100., 200., 300.], index=['apple', 'ball', 'clock']),
     'two' : pd.Series([111., 222., 333., 4444.], index=['apple', 'ball', 'cerill', 'dancy'])}

In [ ]:
df = pd.DataFrame(d)
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
pd.DataFrame(d, index=['dancy', 'ball', 'apple'])

In [ ]:
pd.DataFrame(d, index=['dancy', 'ball', 'apple'], columns=['two', 'five'])

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Créer un DataFrame à partir d'une liste de dictionnaires python</p>

In [ ]:
data = [{'alex': 1, 'joe': 2},{'ema': 5, 'dora': 10, 'alice': 20}]

In [ ]:
#The keys becomes the columns and the values (the value of these columns)
pd.DataFrame(data)

In [ ]:
pd.DataFrame(data, index=['orange', 'red'])

In [ ]:
pd.DataFrame(data, columns=['joe', 'dora','alice'])

In [ ]:
pd.DataFrame(data, columns=['joe', 'dora','alice'], index=['orange', 'red'])

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Opérations sur les dataframes </p>

In [ ]:
df

In [ ]:
df['three'] = df['one'] * df['two']
df

In [ ]:
df['flag'] = df['one'] > 250
df

In [ ]:
three = df.pop('three')

In [ ]:
three

In [ ]:
df

In [ ]:
del df['two']

In [ ]:
df

In [ ]:
# On insere (cree la colonne 'c_of_one') dans la colonne c_of_one les valeurs de la colone 'one'
df.insert(2, 'c_of_one', df['one'])
df

In [ ]:
df['one_upper_half'] = df['one'][:2]
df

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Cas d'étude: analyse des de movielens</p>
<br>Ce Notebook utilise un dataset extrait à partir du site  MovieLens. 

## Téléchargement du Dataset


lien vers le dataset:
* **Data Source:** MovieLens web site (filename: ml-20m.zip)
* **Location:** https://grouplens.org/datasets/movielens/

une fois le téléchargement est terminé, mettez le dans un dossier appelé *movielens* dans le même dossier que votre notebook.

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Utiliser Pandas pour lire le dataset<br>
</p>
<br>
dans ce notebook vous allez utiliser les 3 fichiers:
* **ratings.csv :** *userId*,*movieId*,*rating*, *timestamp*
* **tags.csv :** *userId*,*movieId*, *tag*, *timestamp*
* **movies.csv :** *movieId*, *title*, *genres* <br>

In [14]:
movies = pd.read_csv('./movielens/movies.csv', sep=',')
print(type(movies))
movies.head(15)

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance

In [15]:
# Timestamps represente les  seconds depuis minuit du " (UTC) of January 1, 1970"

tags = pd.read_csv('./movielens/tags.csv', sep=',')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [16]:
ratings = pd.read_csv('./movielens/ratings.csv', sep=',')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [17]:
ratings = pd.read_csv('./movielens/ratings.csv', sep=',', parse_dates=['timestamp'])
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [18]:
# Pour le moment nous allons supprimer timestamp 

del ratings['timestamp']
del tags['timestamp']

<h1 style="font-size:2em;color:#2467C0">Les structures de données  </h1>

<h1 style="font-size:1.5em;color:#2467C0">Les series</h1>

In [19]:
#extraire la ligne 0: observer qu'elle s'agit d'une série 

row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [20]:
print(row_0)

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [21]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [22]:
row_0['userId']

18

In [23]:
'rating' in row_0

False

In [24]:
row_0.name

0

In [25]:
row_0 = row_0.rename('first_row')
row_0.name

'first_row'

<h1 style="font-size:1.5em;color:#2467C0">Les DataFrames </h1>

In [26]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [27]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [28]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [29]:
# Extraire les lignes 0, 11, 2000 du DataFrame

tags.iloc[ [0,11,2000] ]

      userId  movieId                tag
0         18     4141        Mark Waters
11        65     1783      noir thriller
2000     910    68554  conspiracy theory

<h1 style="font-size:2em;color:#2467C0">Statistiques descriptive </h1>

nous verrons comment les ratings 'évaluations' sont distribués!

In [30]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [31]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [32]:
ratings['rating'].mean()

3.5255285642993797

In [33]:
ratings.mean()

userId     69045.872583
movieId     9041.567330
rating         3.525529
dtype: float64

In [34]:
ratings['rating'].min()

0.5

In [35]:
ratings['rating'].max()

5.0

In [36]:
ratings['rating'].std()

1.051988919275684

In [37]:
ratings['rating'].mode()

0    4.0
dtype: float64

In [38]:
# Quand la correlation s'approche de 1 we have a high positive correleation(they both go in the same direction)
# And when the correlation factor converges near -1 we have negative correlation (they both go in different directions)
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.000850  0.001175
movieId -0.000850  1.000000  0.002606
rating   0.001175  0.002606  1.000000

In [39]:
filter_1 = ratings['rating'] > 5
print(filter_1)
filter_1.any()

0           False
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9           False
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False
26          False
27          False
28          False
29          False
            ...
20000233    False
20000234    False
20000235    False
20000236    False
20000237    False
20000238    False
20000239    False
20000240    False
20000241    False
20000242    False
20000243    False
20000244    False
20000245    False
20000246    False
20000247    False
20000248    False
20000249    False
20000250    False
20000251    False
20000252    False
20000253    False
20000254    False
20000255    False
20000256    False
20000257    False
20000258    False
20000259    False
20000260    False
20000261    False
20000262    False
Name: rating, Length: 20000263, dtype: bool

False

In [40]:
filter_2 = ratings['rating'] > 0
filter_2.all()

True

<h1 style="font-size:2em;color:#2467C0">Nettoyage de données: traiter les données manquantes</h1>

In [41]:
movies.shape

(27278, 3)

In [42]:
#valeurs nulles ?

movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [43]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
movieId    27278 non-null int64
title      27278 non-null object
genres     27278 non-null object
dtypes: int64(1), object(2)
memory usage: 639.4+ KB

aucune valeur nulle !!! c'est un bon signe

In [44]:
ratings.shape

(20000263, 3)

In [45]:
#valeur nulle ?

ratings.isnull().any()

userId     False
movieId    False
rating     False
dtype: bool

aucune valeur nulle !!! c'est un bon signe

In [46]:
tags.shape

(465564, 3)

In [47]:
#valeur nulle ?

tags.isnull().any()

userId     False
movieId    False
tag         True
dtype: bool

nous avons quelques tags qui sont nuls.

In [48]:
tags = tags.dropna()

In [49]:
#faites un test une autre fois ?

tags.isnull().any()

userId     False
movieId    False
tag        False
dtype: bool

In [50]:
tags.shape

(465548, 3)

maintenant nous n'avons aucune valeur nulle !!!! nous avons réduit le nombre de lignes.

<h1 style="font-size:2em;color:#2467C0">la visualization de données</h1>

In [ ]:
%matplotlib inline

ratings.hist(column='rating', figsize=(15,10))

In [ ]:
ratings.boxplot(column='rating', figsize=(15,20))

<h1 style="font-size:2em;color:#2467C0">découper les  Colonnes</h1>

In [ ]:
tags['tag'].head()

In [ ]:
movies[['title','genres']].head()

In [ ]:
ratings[-10:]

In [ ]:
tag_counts = tags['tag'].value_counts()
tag_counts[-10:]

In [ ]:
tag_counts[:10].plot(kind='bar', figsize=(15,10))

<h1 style="font-size:2em;color:#2467C0">filtres pour sélectionner les lignes</h1>

In [ ]:
is_highly_rated = ratings['rating'] >= 4.0
print(type(ratings[is_highly_rated]))

ratings[is_highly_rated][30:50]

In [ ]:
movies.head()

In [ ]:
is_animation = movies['genres'].str.contains('Animation')
#movies[is_animation].index

movies[is_animation][5:15]

In [ ]:
movies[is_animation].head(15)

<h1 style="font-size:2em;color:#2467C0">Group By et Aggregation </h1>

In [ ]:
ratings_count = ratings[['movieId','rating']].groupby('rating').count()
ratings_count.plot(kind='hist')
print(ratings_count)

In [ ]:
average_rating = ratings[['movieId','rating']].groupby('movieId').mean()
average_rating.head()

In [ ]:
movie_count = ratings[['movieId','rating']].groupby('movieId').count()
movie_count.head()

In [ ]:
movie_count = ratings[['movieId','rating']].groupby('movieId').count()
movie_count.tail()

<h1 style="font-size:2em;color:#2467C0">Merger les dataframes</h1>

In [ ]:
tags.head()

In [ ]:
movies.head()

In [ ]:
t = movies.merge(tags, on='movieId', how='inner')
t.head()

d'autres exemples: http://pandas.pydata.org/pandas-docs/stable/merging.html

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold"><br>


Combiner des aggreagations, merger, et filtrer pour approfondir notre analyse
</p>

In [ ]:
avg_ratings = ratings.groupby('movieId', as_index=False).mean()
del avg_ratings['userId']
avg_ratings.head()

In [ ]:
box_office = movies.merge(avg_ratings, on='movieId', how='inner')
box_office.tail()

In [ ]:
is_highly_rated = box_office['rating'] >= 4.0

box_office[is_highly_rated][-5:]

In [ ]:
is_comedy = box_office['genres'].str.contains('Comedy')

box_office[is_comedy][:5]

In [ ]:
box_office[is_comedy & is_highly_rated][-5:]

<h1 style="font-size:2em;color:#2467C0">Operations sur les chaines</h1>

In [ ]:
movies.head()

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

Split - plusieurs colonnes -

<br> </p>

In [ ]:
movie_genres = movies['genres'].str.split('|', expand=True)
print(type(movie_genres))

In [ ]:
movie_genres[:10]

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

ajouter une nouvelle colonne 

<br> </p>

In [ ]:
movie_genres['isComedy'] = movies['genres'].str.contains('Comedy')

In [ ]:
movie_genres[:10]

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

Extraire l'année à partir du titre 

<br> </p>

In [ ]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*', expand=True)

In [ ]:
movies.tail()

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

d'autres exemples: http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods
<br> </p>

<h1 style="font-size:2em;color:#2467C0">Parser les dates "Timestamps"</h1>

In [ ]:
tags = pd.read_csv('./movielens/tags.csv', sep=',')

In [ ]:
tags.dtypes

In [ ]:
tags.head(5)

In [ ]:
tags['parsed_time'] = pd.to_datetime(tags['timestamp'], unit='s')

In [ ]:
tags['parsed_time'].dtype

In [ ]:
tags.head(2)

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold">

Selectionner des ligne en se basant sur les dates 
</p>

In [ ]:
greater_than_t = tags['parsed_time'] > '2015-02-01'

selected_rows = tags[greater_than_t]

tags.shape, selected_rows.shape

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold">

Trier les tables 
</p>

In [ ]:
tags.sort_values(by='parsed_time', ascending=True)[:10]

<h1 style="font-size:2em;color:#2467C0">la moyennes des ratings au fil du temps </h1>
## est ce que les ratings sont liés à la date de sortie d'un film?

In [ ]:
average_rating = ratings[['movieId','rating']].groupby('movieId', as_index=False).mean()
average_rating.tail()

In [ ]:
joined = movies.merge(average_rating, on='movieId', how='inner')
joined.head(50)
#joined.corr()

In [ ]:
yearly_average = joined[['year','rating']].groupby('year', as_index=False).mean()
yearly_average[:10]

In [ ]:
yearly_average[-20:].plot(x='year', y='rating', figsize=(15,10), grid=True)

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold">

 <br><br>

est ce qu'il y a des points qui sont des valeurs extrêmes? outliers 

</p>

In [ ]:
# use box plot on the target data (un film a ete rated by 5 a lot and it's not a good movie why?)